
.sub-header {
    background-image: url("./img/logo.jpg");
    height: 400px; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1); 
    color: white;
   /* border:0.2px solid #2b445e;*/
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    line-height: 28px;
    font-weight: 700;
  }

  .btn:focus{
    box-shadow:none !important;
  }
  